# Node.js dependencies
/node_modules

# Build output
/build


# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log


# Ignore vendor directory
/vendor


.DS_Store

# Ignore all phunit result files
phpunit.result.cache
phpunit-watcher.log
phpunit.*.log

.phpunit.result.cache
.phpunit-watcher.log
.phpunit.*.log

# Ignore all dist folder, will be added when merged to main.
/dist
/dist/*
!.gitkeep
