// Default form styles
input,
textarea,
select {
	padding: 10px;
	border: 1px solid $primary-color;
	color: $primary-color;
	background-color: $secondary-color;
	transition: border-color 0.3s ease-in-out;
}

// Additional form styles
// Add your custom form styles here

// Hover effect for form elements
input:hover,
textarea:hover,
select:hover {
	border-color: $secondary-color;
}
