// Colors
$primary-color: var(--wp--preset--color--primary);
$secondary-color:var(--wp--preset--color--secondary);
$success-color: var(--wp--preset--color--success);
$danger-color: var(--wp--preset--color--error);
$info-color: var(--wp--preset--color--info);
$warning-color: var(--wp--preset--color--warning);
$light-color: var(--wp--preset--color--light);
$dark-color: var(--color--neutral-200);
$white-color: var(--wp--preset--color--white);

$admin-failure-color: var(--color-failure);

$darker-color: var(--color--darker);
$medium-light-color: var(--color--neutral-300);
$soft-light-color: var(--color--medium-light);

$neutral-color: var(--color--neutral-200);
$color-neutral-grey: var(--color--neutral-grey);

$color-box-shadow: #00000026;


// Express font size variables :) - default one  for reference.
// --font-size--xs: 0.75rem;
// --font-size--s: 0.875rem;
// --font-size--m: 1rem;
// --font-size--l: 1.125rem;
// --font-size--xl: 1.5rem;
// --font-size--2xl: 2rem;
// --font-size--3xl: 2.25rem;
// --font-size--4xl: 3rem;
// --font-size--5xl: 4rem;
$font-size-xs: var(--font-size--xs);
$font-size-s: var(--font-size--s);
$font-size-m: var(--font-size--m);
$font-size-l: var(--font-size--l);
$font-size-xl: var(--font-size--xl);
$font-size-2xl: var(--font-size--2xl);
$font-size-3xl: var(--font-size--3xl);
$font-size-4xl: var(--font-size--4xl);
$font-size-5xl: var(--font-size--5xl);


// Other Variables
$border-radius: .625rem;
$box-shadow: 0 2px 4px $light-color;
$transition-duration: 0.3s;


// Breakpoints
$mobile-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px;
